.confirm {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  .confirm-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 387px;
    margin-top: -240px;
    margin-left: -325px;
    background: url(../images/modal-bg.png) no-repeat;
    background-size: 100%;
    .confirm-info {
      display: block;
      font-size: 36px;
      height: 100px;
      margin: 110px 90px 0 90px;
      text-align: center;
      color: #333333;
    }
    .confirm-tips {
      display: block;
      font-size: 24px;
      text-align: center;
      color: red;
      height: 20px;
      line-height: 20px;
      margin-top: 20px;
    }
    .confirm-btn-ok {
      width: 534px;
      height: 80px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: 100%;
      &.confirm-btn-ok-recharge {
        background-image: url(../images/modal-btn-recharge.png);
      }
      &.confirm-btn-ok-shopping {
        background-image: url(../images/modal-btn-shopping.png);
      }
    }
    .confirm-btn-cancel{
      position: absolute;
      bottom: -100px;
      width: 61px;
      height: 61px;
      left: 50%;
      margin-left: -30px;
      background: url(../images/modal-btn-close.png) no-repeat;
      background-size: 100%;
    }
  }
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -81px;
  margin-left: -160px;
  width: 320px;
  min-height: 100px;
  background-color: #585858;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  line-height: 50px;
  font-size: 26px;
  z-index: 9999;
  padding: 20px 20px;
  opacity: 0;
  transition: opacity .3s;
  .toast-content {
    display: inline-block;
    min-height: 40px;
    overflow: hidden;
  }
}
.common-img-service {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 260px;
  width: 120px;
  height: 120px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  .loading-box {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px 124px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    .loading-icon, &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      width: 48px;
      height: 48px;
      background-image: url(../images/loading.png);
      background-size: 48px 48px;
      display: inline-block;
      animation: loading-animate .85s;
      animation-iteration-count: infinite;
      animation-timing-function:linear;
      transform: rotate(0deg);
    }
  }
}
@keyframes loading-animate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}